[run]
branch = True
data_file = .coverage
source =
    statemachine
omit =
    *test*.py
    tmp/*
    pytest_cov
    statemachine/factory_2.py

[report]
show_missing = True
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

[html]
directory = tmp/htmlcov
