repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: docs/auto_examples
    -   id: trailing-whitespace
        exclude: docs/auto_examples
- repo: https://github.com/charliermarsh/ruff-pre-commit
  # Ruff version.
  rev: v0.3.7
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

- repo: local
  hooks:
  - id: mypy
    name: Mypy
    entry: poetry run mypy --namespace-packages --explicit-package-bases statemachine/ tests/
    types: [python]
    language: system
    pass_filenames: false
  - id: pytest
    name: Pytest
    entry: poetry run pytest
    types: [python]
    language: system
    pass_filenames: false
