# deploy stuff
pip==22.3.1
bumpversion==0.5.3
wheel==0.38.1
cryptography==38.0.4
PyYAML==5.4
tox==3.14.2
mypy==0.761

# docs
Sphinx==5.3.0
sphinx_rtd_theme==0.4.3
sphinx-markdown-builder==0.5.5
myst-parser==0.18.1
sphinxcontrib-mermaid==0.7.1
jupyterlite-sphinx==0.7.2
